
                <footer class="container-fluid py-5 text-center text-body-secondary bg-body-tertiary">
                        <p >Monica Spycher Copyrigth &#169; 2024</p> 
                        <p><a style="color: white;" href="#">Back to top</a></p>
                </footer>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </body>
</html>